<section class="pavilion__page">
	<p class="pavilion__name" id="pavilion__name"></p>
	<ol class="accordionn">
 
  <li class="accordion-item">
    <input id="s2" class="hide" type="checkbox" >
    <label for="s2" class="accordion-label">Перейти на другой павильон</label>
    <p class="accordion-child" ui-sref = "fruit">Фруктовый павильон</p>
    <p class="accordion-child" ui-sref = "vegetable">Овощной павильон</p>
    <p class="accordion-child" ui-sref = "meat">Мясной павильон</p>
    <!-- <p class="accordion-child" ui-sref = "fishpavilion">Рыбный павильон</p> -->
    <p class="accordion-child" ui-sref = "green">Зелёный павильон</p>
    <p class="accordion-child" ui-sref = "milk">Молочный павильон</p>
    <p class="accordion-child" ui-sref = "dried">Сухофруктовый павильон</p>
  </li>
</ol>
	<p class="warning"><strong>ВНИМАНИЕ!</strong> Для заказа 1,5кг/л укажите в количестве продукта 1.5!</p>
	<div class="pavilion__page-inner">
		<div class="pavilion__products">

			
			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Малина</p>
				<img src="../../images/products/malina.jpg" alt="Малина" class="item__image" >
				<p class="item__price" data-rel="YYY">1000 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119803">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Облепиха</p>
				<img src="../../images/products/oblepixa.jpg" alt="Облепиха" class="item__image" >
				<p class="item__price">Не сезон</p>
				<!-- <a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119951">Купить</a> -->
			</div>
			
			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Клубника</p>
				<img src="../../images/products/klubnika.jpg" alt="Клубника" class="item__image" >
				<p class="item__price" data-rel="YYY">900 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119957">Купить</a>
			</div>

		</div>
	</div>
	<button class="choose__pav">Перейти на другой павильон</button>

</section>

