<section class="pavilion__page">
	<p class="pavilion__name" id="pavilion__name"></p>
	<ol class="accordionn">
 
  <li class="accordion-item">
    <input id="s2" class="hide" type="checkbox" >
    <label for="s2" class="accordion-label">Перейти на другой павильон</label>
    <p class="accordion-child" ui-sref = "fruit">Фруктовый павильон</p>
    <p class="accordion-child" ui-sref = "vegetable">Овощной павильон</p>
    <p class="accordion-child" ui-sref = "meat">Мясной павильон</p>
    <!-- <p class="accordion-child" ui-sref = "fishpavilion">Рыбный павильон</p> -->
    <p class="accordion-child" ui-sref = "green">Зелёный павильон</p>
    <p class="accordion-child" ui-sref = "milk">Молочный павильон</p>
    <p class="accordion-child" ui-sref = "berry">Ягодный павильон</p>
  </li>
</ol>
	<p class="warning"><strong>ВНИМАНИЕ!</strong> Для заказа 1,5кг/л укажите в количестве продукта 1.5!</p>
	<div class="choose__products kuraga__products">
		<div class="choose__products-window">
			<i class="fas fa-times products__window-close"></i>
			<div class="products__window-product">
				<p class="product__window-name">Курага(высший сорт)</p>
				<p class="product__window-price">1400тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product-window" data-rel="63ca08af119957">Купить</a>
			</div>

			<div class="products__window-product">
				<p class="product__window-name">Курага(средний сорт)</p>
				<p class="product__window-price">1000/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product-window" data-rel="63ca08af119957">Купить</a>
			</div>

			<div class="products__window-product">
				<p class="product__window-name">Курага(нисший сорт)</p>
				<p class="product__window-price">800/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product-window" data-rel="63ca08af119957">Купить</a>
			</div>

		</div>
	</div>
	<div class="choose__products izum__products">
		<div class="choose__products-window">
			<i class="fas fa-times products__window-close"></i>
			<div class="products__window-product">
				<p class="product__window-name">Изюм(высший сорт)</p>
				<p class="product__window-price">1500/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product-window" data-rel="63ca08af119957">Купить</a>
			</div>

			<div class="products__window-product">
				<p class="product__window-name">Изюм(средний сорт)</p>
				<p class="product__window-price">1100/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product-window" data-rel="63ca08af119957">Купить</a>
			</div>

			<div class="products__window-product">
				<p class="product__window-name">Изюм(нисший сорт)</p>
				<p class="product__window-price">800/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product-window" data-rel="63ca08af119957">Купить</a>
			</div>

		</div>
	</div>
	<div class="pavilion__page-inner">
		<div class="pavilion__products">

			
			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Курага</p>
				<img src="../../images/products/kuraga.jpg" alt="Курага" class="item__image" >
				<p class="item__price" data-rel="YYY"></p>
				<a class="btn-product choose__kuraga">Выбрать</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Изюм</p>
				<img src="../../images/products/izum.jpg" alt="Изюм" class="item__image" >
				<p class="item__price"></p>
				<a class="btn-product choose__izum">Выбрать</a>
			</div>
			
			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Грецкий орех(высший сорт)</p>
				<img src="../../images/products/grezkiioreh.jpg" alt="Грецкий орех" class="item__image" >
				<p class="item__price" data-rel="YYY">2700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119957">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Миндаль(высший сорт)</p>
				<img src="../../images/products/mindal.jpg" alt="Миндаль" class="item__image" >
				<p class="item__price" data-rel="YYY">3500 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119957">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Кешью(высший сорт)</p>
				<img src="../../images/products/keshui.jpg" alt="Кешью" class="item__image" >
				<p class="item__price" data-rel="YYY">4500 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119957">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Чернослив</p>
				<img src="../../images/products/chernosliv.jpg" alt="Чернослив" class="item__image" >
				<p class="item__price" data-rel="YYY">900 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119957">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Сукат</p>
				<img src="../../images/products/sukat.jpg" alt="Сукат" class="item__image" >
				<p class="item__price" data-rel="YYY">1600 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119957">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Солёный арахис</p>
				<img src="../../images/products/solenyiaraxic.jpg" alt="Солёный арахис" class="item__image" >
				<p class="item__price" data-rel="YYY">1100 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119957">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Фисташки(высший сорт)</p>
				<img src="../../images/products/fishtashki.jpg" alt="Фисташки" class="item__image" >
				<p class="item__price" data-rel="YYY">5000 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119957">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Арахис ёжик</p>
				<img src="../../images/products/yezhikaraxic.jpg" alt="Арахис ёжик" class="item__image" >
				<p class="item__price" data-rel="YYY">1300 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119957">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Сушёные яблоки</p>
				<img src="../../images/products/sushenyiapples.jpg" alt="Сушёные яблоки" class="item__image" >
				<p class="item__price" data-rel="YYY">400 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119957">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Сушёный микс</p>
				<img src="../../images/products/sushynyimixt.png" alt="Сушёный микс" class="item__image" >
				<p class="item__price" data-rel="YYY">400 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119957">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Золотой орешек</p>
				<img src="../../images/products/goldoreh.jpg" alt="Золотой орешек" class="item__image" >
				<p class="item__price" data-rel="YYY">1300 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119957">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Финики бриант</p>
				<img src="../../images/products/finikibriant.jpg" alt="Финики бриант" class="item__image" >
				<p class="item__price" data-rel="YYY">650 тг/600г</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119957">Купить</a>
			</div>

		</div>
	</div>
	<button class="choose__pav">Перейти на другой павильон</button>

</section>

