<section class="pavilion__page">
	<p class="pavilion__name" id="pavilion__name"></p>
	<ol class="accordionn">
 
  <li class="accordion-item">
    <input id="s2" class="hide" type="checkbox" >
    <label for="s2" class="accordion-label">Перейти на другой павильон</label>
    <p class="accordion-child" ui-sref = "fruit">Фруктовый павильон</p>
    <p class="accordion-child" ui-sref = "vegetable">Овощной павильон</p>
    <p class="accordion-child" ui-sref = "meat">Мясной павильон</p>
    <p class="accordion-child" ui-sref = "green">Зелёный павильон</p>
    <p class="accordion-child" ui-sref = "berry">Ягодный павильон</p>
    <p class="accordion-child" ui-sref = "milk">Молочный павильон</p>
    <p class="accordion-child" ui-sref = "dried">Сухофруктовый павильон</p>
    

    
  </li>
</ol>
	<p class="warning"><strong>ВНИМАНИЕ!</strong> Для заказа 1,5кг/л укажите в количестве продукта 1.5!</p>

	<div class="pavilion__page-inner">
		<div class="pavilion__products">

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Филе сазана</p>
				<img src="../../images/products/filesazana.jpg" alt="Филе сазана" class="item__image" >
				<p class="item__price">600 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119132">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Лосось</p>
				<img src="../../images/products/losos.jpg" alt="Лосось" class="item__image" >
				<p class="item__price">600 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119134">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Мойва</p>
				<img src="../../images/products/moiva.jpg" alt="Мойва" class="item__image" >
				<p class="item__price">600 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119137">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Скумбрия</p>
				<img src="../../images/products/scumbria.jpg" alt="Скумбрия" class="item__image" >
				<p class="item__price">600 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119137">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Филе судака</p>
				<img src="../../images/products/sudakfile.jpg" alt="Филе судака" class="item__image" >
				<p class="item__price">600 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119137">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Тушка судака</p>
				<img src="../../images/products/tushkasudaka.jpg" alt="Тушка судака" class="item__image" >
				<p class="item__price">600 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119137">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Филе сёмги</p>
				<img src="../../images/products/filesemga.jpg" alt="Филе сёмги" class="item__image" >
				<p class="item__price">600 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119137">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Филе ласося</p>
				<img src="../../images/products/filelosos.jpg" alt="Филе ласося" class="item__image" >
				<p class="item__price">600 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119137">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Минтай</p>
				<img src="../../images/products/mintai.jpg" alt="Минтай" class="item__image" >
				<p class="item__price">600 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119961">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Сибас</p>
				<img src="../../images/products/sibas.jpg" alt="Сибас" class="item__image" >
				<p class="item__price">600 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119962">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Филе горбуши</p>
				<img src="../../images/products/gorbushafile.jpg" alt="Филе горбуши" class="item__image" >
				<p class="item__price">600 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119963">Купить</a>
			</div>

		</div>
	</div>
	<button class="choose__pav">Перейти на другой павильон</button>

</section>

