<!-- <div class="choose__city">
	<div class="choose__city-inner animated shake">
		<p class="city__inner-name animated zoomInDown">Пожалуйста, выберите ваш город</p>
		<div class="select__city animated zoomInRight">
			<select id="selectItem">
				<option id="almaty" value="almaty">Алматы</option>
				<option id="atyrau" value="atyrau">Атырау</option>
			</select>
		</div>
		<div class="containerss animated zoomInLeft">
			<div class="almaty"><span class="city__info">Тел:</span><span
				class="icq"> +77472334431</span></span><br><span
				class="city__info">Email:</span>
				<a href="mailto:bazarzaalmaty@gmail.com">bazarzaalmaty@gmail.com</a></div>
			<div class="atyrau"><span class="city__info">Тел:</span><span
				class="city__contact"> +77472334430</span><br><span
				class="city__info">Email:</span>
				<a href="mailto:bazarzaatyrau@gmail.com">bazarzaatyrau@gmail.com</a></div>
		</div>
		<button class="city__close animated zoomInUp">Закрыть</button>
	</div>
</div> -->

<section class="pavilion__page">
	<p class="pavilion__name" id="pavilion__name"></p>
	<ol class="accordionn">
 
  <li class="accordion-item">
    <input id="s2" class="hide" type="checkbox" >
    <label for="s2" class="accordion-label">Перейти на другой павильон</label>
    <p class="accordion-child" ui-sref = "meat">Мясной павильон</p>
    <p class="accordion-child" ui-sref = "vegetable">Овощной павильон</p>
    <p class="accordion-child" ui-sref = "green">Зелёный павильон</p>
    <!-- <p class="accordion-child" ui-sref = "fishpavilion">Рыбный павильон</p> -->
    <p class="accordion-child" ui-sref = "berry">Ягодный павильон</p>
    <p class="accordion-child" ui-sref = "milk">Молочный павильон</p>
    <p class="accordion-child" ui-sref = "dried">Сухофруктовый павильон</p>
    

  </li>
</ol>
	<p class="warning"><strong>ВНИМАНИЕ!</strong> Для заказа 1,5кг/л укажите в количестве продукта 1.5!</p>

	<div class="pavilion__page-inner">

<!-- 		<div class="pavilion__column">
			<div class="pavilion__column-inner">
				<p class="catalog__name">Павильоны</p>
				<p class="catalog__item">Молочный</p>
				<p class="catalog__item">Мясной</p>
				<p class="catalog__item">Овощной</p>
				<p class="catalog__item">Рыбный</p>
				<p class="catalog__item">Все павильлоны...</p>
			<p class="catalog__name">Хит</p>
				<p class="catalog__item">Говядина</p>
				<p class="catalog__item">Молоко 3,2%</p>
				<p class="catalog__item">Яблоки "Апорт"</p>
			</div>
		</div> -->

		<div class="pavilion__products">
			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Зелёные яблоки</p>
				<img src="../../images/products/greeanapple.jpg" alt="Зелёные яблоки" class="item__image" >
				<p class="item__price">550 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115953">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Красные яблоки</p>
				<img src="../../images/products/Red-apple.jpg" alt="Красные яблоки" class="item__image" >
				<p class="item__price">550 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119969">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Апельсин</p>
				<img src="../../images/products/orange.jpg" alt="Апельсин" class="item__image" >
				<p class="item__price">400 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115961">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Лимон</p>
				<img src="../../images/products/Limon.jpg" alt="Лимон" class="item__image" >
				<p class="item__price">700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115962">Купить</a>
			</div>
			
			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Авокадо</p>
				<img src="../../images/products/avokado.jpg" alt="Авокадо" class="item__image" >
				<p class="item__price">450 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115963">Купить</a>
			</div>
			
			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Грейпфрут</p>
				<img src="../../images/products/greip.jpg" alt="Грейпфрут" class="item__image" >
				<p class="item__price">900 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115964">Купить</a>
			</div>
			
			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Киви</p>
				<img src="../../images/products/qiwi.jpg" alt="Киви" class="item__image" >
				<p class="item__price">650 тг/6шт</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115965">Купить</a>
			</div>
			
			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Груша </p>
				<img src="../../images/products/pear.jpg" alt="Груша" class="item__image" >
				<p class="item__price">750 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115966">Купить</a>
			</div>
			
			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Манго</p>
				<img src="../../images/products/mango.jpg" alt="Манго" class="item__image" >
				<p class="item__price">650 тг/шт</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115967">Купить</a>
			</div>
			
			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Лайм</p>
				<img src="../../images/products/laim.jpg" alt="Лайм" class="item__image" >
				<p class="item__price">1500 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115968">Купить</a>
			</div>
			
			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Ананас из Эквадора</p>
				<img src="../../images/products/chinaananas.jpg" alt="Ананас из Эквадора" class="item__image" >
				<p class="item__price">900 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115969">Купить</a>
			</div>
			
			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Ананас из Китая</p>
				<img src="../../images/products/ekvadorananas.jpg" alt="Ананас из Китая" class="item__image" >
				<p class="item__price">Нет в наличии</p>
				<!-- <a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115970">Купить</a> -->
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Зелёный виноград</p>
				<img src="../../images/products/greenvinog.jpg" alt="Зелёный виноград" class="item__image" >
				<p class="item__price">1150 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115972">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Красный виноград</p>
				<img src="../../images/products/Vinograd_krasnyj.jpg" alt="Красный виноград" class="item__image" >
				<p class="item__price">1350 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115973">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Мандарин</p>
				<img src="../../images/products/mandarin.jpg" alt="Мандарин" class="item__image" >
				<p class="item__price">800 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115974">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Бананы</p>
				<img src="../../images/products/bananas.jpg" alt="Бананы" class="item__image" >
				<p class="item__price">500 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115971">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Хурма</p>
				<img src="../../images/products/hurma.jpg" alt="" class="item__image" >
				<p class="item__price">Не сезон</p>
				<!-- <a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119952">Купить</a> -->
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Персики</p>
				<img src="../../images/products/persiki.jpg" alt="Персики" class="item__image" >
				<p class="item__price">900 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119953">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Слива</p>
				<img src="../../images/products/sliva.jpg" alt="Слива" class="item__image" >
				<p class="item__price">1000 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119954">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Гранат</p>
				<img src="../../images/products/granat.jpg" alt="Гранат" class="item__image" >
				<p class="item__price">1500 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119958">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Дыня</p>
				<img src="../../images/products/dinya.jpg" alt="Дыня" class="item__image" >
				<p class="item__price">Не сезон</p>
				<!-- <a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119959">Купить</a> -->
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Кокос</p>
				<img src="../../images/products/kokos.jpg" alt="Кокос" class="item__image" >
				<p class="item__price">500 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119960">Купить</a>
			</div>
		</div>

	</div>
	<button class="choose__pav">Перейти на другой павильон</button>

</section>

