<section class="pavilion__page">
	<p class="pavilion__name" id="pavilion__name"></p>
	<ol class="accordionn">
 
  <li class="accordion-item">
    <input id="s2" class="hide" type="checkbox" >
    <label for="s2" class="accordion-label">Перейти на другой павильон</label>
    <p class="accordion-child" ui-sref = "fruit">Фруктовый павильон</p>
    <p class="accordion-child" ui-sref = "vegetable">Овощной павильон</p>
    <p class="accordion-child" ui-sref = "meat">Мясной павильон</p>
    <!-- <p class="accordion-child" ui-sref = "fishpavilion">Рыбный павильон</p> -->
    <p class="accordion-child" ui-sref = "berry">Ягодный павильон</p>
    <p class="accordion-child" ui-sref = "milk">Молочный павильон</p>
    <p class="accordion-child" ui-sref = "dried">Сухофруктовый павильон</p>
    

    
  </li>
</ol>
	<p class="warning"><strong>ВНИМАНИЕ!</strong> Для заказа 1,5кг/л укажите в количестве продукта 1.5!</p>

	<div class="pavilion__page-inner">
		<div class="pavilion__products">

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Укроп</p>
				<img src="../../images/products/ukrop.jpg" alt="Укроп" class="item__image" >
				<p class="item__price">500 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af116022">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Петрушка</p>
				<img src="../../images/products/petrushka.jpg" alt="Петрушка" class="item__image" >
				<p class="item__price">500 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af116212">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Листья салата</p>
				<img src="../../images/products/saladleaves.jpg" alt="Листья салата" class="item__image" >
				<p class="item__price">400 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af116213">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Руккола</p>
				<img src="../../images/products/rukkola.jpg" alt="Руккола" class="item__image" >
				<p class="item__price">800 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af116214">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Мята</p>
				<img src="../../images/products/myata.jpg" alt="Мята" class="item__image" >
				<p class="item__price">800 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af116215">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Красный базилик</p>
				<img src="../../images/products/basilikred.jpg" alt="Красный базилик" class="item__image" >
				<p class="item__price">5800 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af116216">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Зелёный лук</p>
				<img src="../../images/products/oniongreen.jpg" alt="" class="item__image" >
				<p class="item__price">400 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af116217">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Кинза</p>
				<img src="../../images/products/kinza.jpg" alt="Кинза" class="item__image" >
				<p class="item__price">550 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af116218">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Щавель</p>
				<img src="../../images/products/shavel.jpg" alt="Щавель" class="item__image" >
				<p class="item__price">450 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119801">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Спаржа</p>
				<img src="../../images/products/sparzha.jpg" alt="Спаржа" class="item__image" >
				<p class="item__price">3500 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119802">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Базилик</p>
				<img src="../../images/products/bazilik.jpg" alt="Базилик" class="item__image" >
				<p class="item__price">5800 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119956">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Джусай</p>
				<img src="../../images/products/djusai.png" alt="Джусай" class="item__image" >
				<p class="item__price">400 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119970">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Лола росса</p>
				<img src="../../images/products/lollo-rosso.JPG" alt="Лола росса" class="item__image" >
				<p class="item__price">900 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119956">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Сильдерей</p>
				<img src="../../images/products/seldereyi.jpg" alt="Сильдерей" class="item__image" >
				<p class="item__price">550 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119956">Купить</a>
			</div>

			
			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Стебель сильдерей</p>
				<img src="../../images/products/stebelseldereyi.jpg" alt="Стебель сильдерей" class="item__image" >
				<p class="item__price">750 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115945">Купить</a>
			</div>


		</div>
	</div>
	<button class="choose__pav">Перейти на другой павильон</button>

</section>

