<section class="pavilion__page">
	<p class="pavilion__name" id="pavilion__name"></p>
	<ol class="accordionn">
	  <li class="accordion-item">
	    <input id="s2" class="hide" type="checkbox" >
	    <label for="s2" class="accordion-label">Перейти на другой павильон</label>
	    <p class="accordion-child" ui-sref = "fruit">Фруктовый павильон</p>
	    <p class="accordion-child" ui-sref = "vegetable">Овощной павильон</p>
	    <p class="accordion-child" ui-sref = "green">Зелёный павильон</p>
	    <!-- <p class="accordion-child" ui-sref = "fishpavilion">Рыбный павильон</p> -->
    <p class="accordion-child" ui-sref = "berry">Ягодный павильон</p>
    <p class="accordion-child" ui-sref = "milk">Молочный павильон</p>
    <p class="accordion-child" ui-sref = "dried">Сухофруктовый павильон</p>
    

	    
	  </li>
	</ol>
	<p class="warning"><strong>ВНИМАНИЕ!</strong> Для заказа 1,5кг/л укажите в количестве продукта 1.5!</p>
	
	<div class="pavilion__page-inner">
		<div class="pavilion__products">
			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Баранья тушка маринос</p>
				<img src="../../images/products/tushka.jpg" alt="Баранья тушка маринос" class="item__image" >
				<p class="item__price">1800 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115975">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Баранье седло</p>
				<img src="../../images/products/sedlobarana.jpg" alt="Баранье седло" class="item__image" >
				<p class="item__price">1850 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115976">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Бараний задок</p>
				<img src="../../images/products/zadokbaranij.jpg" alt="Бараний задок" class="item__image" >
				<p class="item__price">1850 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115977">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Баранья корейка</p>
				<img src="../../images/products/koreika.jpg" alt="Баранья корейка" class="item__image" >
				<p class="item__price">1850 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115978">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Баранья печень</p>
				<img src="../../images/products/pechen.jpg" alt="Баранья печень" class="item__image" >
				<p class="item__price">950 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115979">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Баранья плёнка</p>
				<img src="../../images/products/nophoto.jpg" alt="Баранья плёнка" class="item__image" >
				<p class="item__price">950 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115980">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Антрекот</p>
				<img src="../../images/products/antrekot.jpg" alt="Антрекот" class="item__image" >
				<p class="item__price">1900 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af116000">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Курица окорочка</p>
				<img src="../../images/products/okorochka.jpg" alt="Курица окорочка" class="item__image" >
				<p class="item__price">1200 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119118">Купить</a>
			</div>

			<!-- <div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Филе курица</p>
				<img src="../../images/products/file.jpg" alt="Филе курица" class="item__image" >
				<p class="item__price">1700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119119">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Голень курицы</p>
				<img src="../../images/products/goleni.jpg" alt="Голень курицы" class="item__image" >
				<p class="item__price">1700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119120">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Цыпленок табака</p>
				<img src="../../images/products/tabaka.jpg" alt="Цыпленок табака" class="item__image" >
				<p class="item__price">1700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119121">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Мраморная говядина</p>
				<img src="../../images/products/mramor.jpg" alt="Мраморная говядина" class="item__image" >
				<p class="item__price">1700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119122">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Говяжьи ребришки</p>
				<img src="../../images/products/govrebra.jpg" alt="Говяжьи ребрышки" class="item__image" >
				<p class="item__price">1700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119783">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Говяжья печень</p>
				<img src="../../images/products/govpechen.jpg" alt="Говяжья печень" class="item__image" >
				<p class="item__price">1700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119784">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Говяжье филе</p>
				<img src="../../images/products/govfile.jpg" alt="Говяжье филе" class="item__image" >
				<p class="item__price">1700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119785">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Говяжья лопатка</p>
				<img src="../../images/products/govlopatka.jpg" alt="Говяжья лопатка" class="item__image" >
				<p class="item__price">1700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119786">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Говяжий язык</p>
				<img src="../../images/products/govyazik.jpg" alt="Говяжий язык" class="item__image" >
				<p class="item__price">1700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119787">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Говяжье сердце</p>
				<img src="../../images/products/govserdce.jpg" alt="Говяжье сердце" class="item__image" >
				<p class="item__price">1700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119788">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Говяжий фарш</p>
				<img src="../../images/products/govfarsh.jpg" alt="Говяжий фарш" class="item__image" >
				<p class="item__price">1700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119789">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Баранья рулька</p>
				<img src="../../images/products/baranrulka.jpg" alt="Баранья рулька" class="item__image" >
				<p class="item__price">1700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119790">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Свиная шейка</p>
				<img src="../../images/products/svinsheika.jpg" alt="Свиная шейка" class="item__image" >
				<p class="item__price">1700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119791">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Свиные ребра</p>
				<img src="../../images/products/svinrebra.jpg" alt="Свиные ребра" class="item__image" >
				<p class="item__price">1700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119792">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Свиной окорок</p>
				<img src="../../images/products/svinokorok.jpg" alt="Свиной окорок" class="item__image" >
				<p class="item__price">1700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119796">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Свиная мякоть</p>
				<img src="../../images/products/svinmyakot.jpg" alt="Свиная мякоть" class="item__image" >
				<p class="item__price">1700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119797">Купить</a>
			</div>
 -->
		</div>
	</div>
	<button class="choose__pav">Перейти на другой павильон</button>
</section>

