<section class="pavilion__page">
	<p class="pavilion__name" id="pavilion__name"></p>
	<ol class="accordionn">
 
  <li class="accordion-item">
    <input id="s2" class="hide" type="checkbox" >
    <label for="s2" class="accordion-label">Перейти на другой павильон</label>
    <p class="accordion-child" ui-sref = "fruit">Фруктовый павильон</p>
    <p class="accordion-child" ui-sref = "vegetable">Овощной павильон</p>
    <p class="accordion-child" ui-sref = "meat">Мясной павильон</p>
    <!-- <p class="accordion-child" ui-sref = "fishpavilion">Рыбный павильон</p> -->
    <p class="accordion-child" ui-sref = "green">Зелёный павильон</p>
    <p class="accordion-child" ui-sref = "berry">Ягодный павильон</p>
    <p class="accordion-child" ui-sref = "dried">Сухофруктовый павильон</p>
    
  </li>
</ol>
	<p class="warning"><strong>ВНИМАНИЕ!</strong> Для заказа 1,5кг/л укажите в количестве продукта 1.5!</p>

	<div class="pavilion__page-inner">
		<div class="pavilion__products">

			
			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Домашняя сметана</p>
				<img src="../../images/products/smetana.jpg" alt="Домашняя сметана" class="item__image" >
				<p class="item__price" data-rel="YYY">1300 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119972">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Домашний творог</p>
				<img src="../../images/products/tvorog.jpg" alt="Домашний творог" class="item__image" >
				<p class="item__price" data-rel="YYY">700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119973">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Кефир</p>
				<img src="../../images/products/kefir_1.jpg" alt="Кефир" class="item__image" >
				<p class="item__price" data-rel="YYY">300 тг/л</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119974">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Кумыс</p>
				<img src="../../images/products/kumis.jpg" alt="Кумыс" class="item__image" >
				<p class="item__price" data-rel="YYY">400 тг/л</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119975">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Шубат</p>
				<img src="../../images/products/shubat.png" alt="Шубат" class="item__image" >
				<p class="item__price" data-rel="YYY">400 тг/л</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119976">Купить</a>
			</div>

		</div>
	</div>
	<button class="choose__pav">Перейти на другой павильон</button>

</section>

