<section class="pavilion__page">
	<p class="pavilion__name" id="pavilion__name"></p>
	<ol class="accordionn">
 
  <li class="accordion-item">
    <input id="s2" class="hide" type="checkbox" >
    <label for="s2" class="accordion-label">Перейти на другой павильон</label>
    <p class="accordion-child" ui-sref = "fruit">Фруктовый павильон</p>
    <p class="accordion-child" ui-sref = "meat">Мясной павильон</p>
    <p class="accordion-child" ui-sref = "green">Зелёный павильон</p>
    <!-- <p class="accordion-child" ui-sref = "fishpavilion">Рыбный павильон</p> -->
    <p class="accordion-child" ui-sref = "berry">Ягодный павильон</p>
    <p class="accordion-child" ui-sref = "milk">Молочный павильон</p>
    <p class="accordion-child" ui-sref = "dried">Сухофруктовый павильон</p>
    
    
  </li>
</ol>
	<p class="warning"><strong>ВНИМАНИЕ!</strong> Для заказа 1,5кг/л укажите в количестве продукта 1.5!</p>

	<div class="pavilion__page-inner">
		<!-- <div class="pavilion__column">
			<div class="pavilion__column-inner">
				<p class="catalog__name">Павильоны</p>
				<p class="catalog__item">Молочный</p>
				<p class="catalog__item">Мясной</p>
				<p class="catalog__item">Овощной</p>
				<p class="catalog__item">Рыбный</p>
				<p class="catalog__item">Все павильлоны...</p>
			<p class="catalog__name">Хит</p>
				<p class="catalog__item">Говядина</p>
				<p class="catalog__item">Молоко 3,2%</p>
				<p class="catalog__item">Яблоки "Апорт"</p>
			</div>
		</div> -->
		<div class="pavilion__products">
			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Брокколи</p>
				<img src="../../images/products/brokkoli.jpg" alt="Брокколи" class="item__image" >
				<p class="item__price">900 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115724">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Цветная капуста</p>
				<img src="../../images/products/cvetnayakapysta.jpg" alt="Цветная капуста" class="item__image" >
				<p class="item__price">300 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115725">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Баклажаны</p>
				<img src="../../images/products/baklazhan.jpg" alt="Баклажаны" class="item__image" >
				<p class="item__price">800 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115726">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Капуста айсберг</p>
				<img src="../../images/products/Icebergkapysta.jpg" alt="Капуста айсберг" class="item__image" >
				<p class="item__price">200 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115727">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Кабачки</p>
				<img src="../../images/products/kobachki.jpg" alt="Кабачки" class="item__image" >
				<p class="item__price">150 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115728">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Перец светафор</p>
				<img src="../../images/products/perezcfetafor.jpg" alt="Перец светафор" class="item__image" >
				<p class="item__price">850 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115729">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Перец полугорький</p>
				<img src="../../images/products/perezpolygorkiy.jpg" alt="Перец полугорький" class="item__image" >
				<p class="item__price">1200 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115730">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Сладкий перец ласточка</p>
				<img src="../../images/products/perezsladkyilastochka.jpg" alt="Сладкий перец ласточка" class="item__image" >
				<p class="item__price">800 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115731">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Перец чили</p>
				<img src="../../images/products/perezchili.jpg" alt="Перец чили" class="item__image" >
				<p class="item__price">1300 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115732">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Перец горький</p>
				<img src="../../images/products/perezgorkyi.jpg" alt="Перец горький" class="item__image" >
				<p class="item__price">1200 тг/кг</p>
					<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115733">Купить</a>
			</div>
			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Чеснок</p>
				<img src="../../images/products/chesnok.jpg" alt="Чеснок" class="item__image" >
				<p class="item__price">650 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115944">Купить</a>
			</div>


			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Помидоры из Ташкента</p>
				<img src="../../images/products/tomatotashkent.jpg" alt="Помидоры из Ташкента" class="item__image" >
				<p class="item__price">700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115946">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Помидоры местные</p>
				<img src="../../images/products/tomatoalmaty.jpg" alt="Помидоры местные" class="item__image" >
				<p class="item__price">700 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115947">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Огурцы крокодил</p>
				<img src="../../images/products/krokodailcucumber.jpg" alt="" class="item__image" >
				<p class="item__price">Не сезон</p>
				<!-- <a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115948">Купить</a> -->
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Корнишоны</p>
				<img src="../../images/products/kornishons.jpg" alt="Корнишоны" class="item__image" >
				<p class="item__price">220 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115949">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Лук красный</p>
				<img src="../../images/products/redonion.jpg" alt="Лук красный" class="item__image" >
				<p class="item__price">350 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115950">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Картофель</p>
				<img src="../../images/products/potatol.jpg" alt="Картофель" class="item__image" >
				<p class="item__price">100 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115951">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Лук</p>
				<img src="../../images/products/onion.jpg" alt="Лук" class="item__image" >
				<p class="item__price">180 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115952">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Капуста краснокочанная</p>
				<img src="../../images/products/krasnokochannai.jpg" alt="Капуста краснокочанная" class="item__image" >
				<p class="item__price">350 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119123">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Кукуруза</p>
				<img src="../../images/products/kukuruza.jpg" alt="Кукуруза" class="item__image" >
				<p class="item__price">Не сезон</p>
				<!-- <a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119124">Купить</a> -->
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Морковь</p>
				<img src="../../images/products/carrot.jpg" alt="Морковь" class="item__image" >
				<p class="item__price">140 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119125">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Патиссон</p>
				<img src="../../images/products/patisson.jpg" alt="Патиссон" class="item__image" >
				<p class="item__price">Не сезон</p>
				<!-- <a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119126">Купить</a> -->
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Свекла</p>
				<img src="../../images/products/sveckla.jpg" alt="Свекла" class="item__image" >
				<p class="item__price">140 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119128">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Капуста</p>
				<img src="../../images/products/cabbagejpg.jpg" alt="Капуста" class="item__image" >
				<p class="item__price">200 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119967">Купить</a>
			</div>

			<div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Редиска</p>
				<img src="../../images/products/rediska.jpg" alt="Редиска" class="item__image" >
				<p class="item__price">200 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af119968">Купить</a>
			</div>

			<!-- <div class="pavilion__products-item" id="pavilion__products-item">
				<p class="item__name">Тыква</p>
				<img src="../../images/products/tikva.jpg" alt="" class="item__image" >
				<p class="item__price">85 тг/кг</p>
				<a class="btn-ens-action btn-ens-style btn-product" data-rel="63ca08af115951">Купить</a>
			</div> -->

		</div>
	</div>
	<button class="choose__pav">Перейти на другой павильон</button>
	
</section>

