<section class="recept">
  <div class="recept__img">
    <img src="../images/medium/crabsalad.jpg" alt="">
  </div>
  <div class="recept__info">
    <p class="recept__name">Салат крабовый</p>
    <p class="recept__title">Ингридиенты:</p>
    <p class="recept__ingridient animated jello">Крабовые палочки - 240 г</p>
    <p class="recept__ingridient animated jello">Кукуруза консервированная - 340 г</p>
    <p class="recept__ingridient animated jello">Яйца - 4 шт.</p>
    <p class="recept__ingridient animated jello">Сыр - 200 г</p>
    <p class="recept__ingridient animated jello">Майонез - 150 г (по вкусу)</p>
    <p class="recept__ingridient animated jello">Соль - по вкусу</p>
  </div>
</section>
<section class="cookingmethod">
      <p class="recept__subtitle">Способ приготовления</p>
      <p class="recept__step animated bounce delay-1s">1) Яйца вымыть, выложить в казанок, залить холодной водой, посолить, довести до кипения. Сварить вкрутую на среднем огне (10 минут).</p>
      <p class="recept__step animated bounce delay-2s">2) Открыть баночку кукурузки, слить жидкость.</p>
      <p class="recept__step animated bounce delay-3s">3) Твердый сыр натереть на терке.</p>
      <p class="recept__step animated bounce delay-4s">4) Яйца очистить, нарезать кубиками.</p>
      <p class="recept__step animated bounce delay-5s">5) Крабовые палочки нарезать.</p>
      <p class="recept__step animated bounce delay-6s">6) Все ингредиенты выложить в миску, можно по вкусу посолить. Добавить майонез. Перемешать.</p>
      <p class="recept__step animated bounce delay-7s">7) Приятного аппетита!</p>
</section>
<div class="order">
  <button class="order__button animated pulse infinite slow" ui-sref = 'pavilion'>Закажи игнридиенты у нас!</button>
</div>
<p class="make__order">Другие рецепты</p>
<section class="other__recepts">
  <div class="recepts__inner animated">
    <div class="recetps__inner-info">
      <p class="info__title">Рагу</p>
      <div class="info__img">
        <img src="../images/medium/ragu.jpg" alt="">
      </div>
      <div class="info__text">
        <p class="info__text-title">Ингридиенты</p>
        <p class="info__text-p">Свинина - 0,5 кг</p>
        <p class="info__text-p">Картофель - 1 кг</p>
        <p class="info__text-p">Кабачок - 1 шт</p>
      </div>
      <button class="info__button" ui-sref = "ragu">Просмотреть полный рецепт</button>
    </div>
    <div class="recetps__inner-info">
      <p class="info__title">Салат цезарь</p>
      <div class="info__img">
        <img src="../images/medium/tcezari.jpg" alt="">
      </div>
      <div class="info__text">
        <p class="info__text-title">Ингридиенты</p>
        <p class="info__text-p">Куриная грудка отварная - 300 г</p>
        <p class="info__text-p">Яйца варенные - 4 шт</p>
        <p class="info__text-p">Сухарики - 1 пачка</p>
      </div>
      <button class="info__button" ui-sref = "tcezarisalad">Просмотреть полный рецепт</button>
    </div>
    <div class="recetps__inner-info">
      <p class="info__title">Гречечская рыба в духовке</p>
      <div class="info__img">
        <img src="../images/medium/fish.jpg" alt="">
      </div>
      <div class="info__text">
        <p class="info__text-title">Ингридиенты</p>
        <p class="info__text-p">Филе любой белой рыбы - 700 г </p>
        <p class="info__text-p">Помидоры - 2 шт. </p>
        <p class="info__text-p">Сыр твердый - 150 г </p>
      </div>
      <button class="info__button" ui-sref = "fish">Просмотреть полный рецепт</button>
    </div>
  </div>
</section>
