<section class="recept">
  <div class="recept__img">
    <img src="../images/medium/fish.jpg" alt="" class="ragu__img">
  </div>
  <div class="recept__info">
    <p class="recept__name">Греческая рыба в духовке</p>
    <p class="recept__title">Ингридиенты:</p>
    <p class="recept__ingridient animated jello">Филе любой белой рыбы - 700 г</p>
    <p class="recept__ingridient animated jello">Помидоры - 2 шт.</p>
    <p class="recept__ingridient animated jello">Сыр твердый - 150 г</p>
    <p class="recept__ingridient animated jello">Сметана - 200 г</p>
    <p class="recept__ingridient animated jello">Чеснок - 3 зубчика (по вкусу)</p>
    <p class="recept__ingridient animated jello">Зелень петрушки</p>
    <p class="recept__ingridient animated jello">Лук зеленый</p>
    <p class="recept__ingridient animated jello">Соль</p>
    <p class="recept__ingridient animated jello">Перец черный молотый</p>
  </div>
</section>
<section class="cookingmethod">
      <p class="recept__subtitle">Способ приготовления</p>
      <p class="recept__step animated bounce delay-1s">1) Томаты режем небольшими кубиками.</p>
      <p class="recept__step animated bounce delay-2s">2) Зелень мелко рубим.</p>
      <p class="recept__step animated bounce delay-3s">3) В полученную массу выдавливаем чеснок, солим и добавляем сметану.</p>
      <p class="recept__step animated bounce delay-4s">4) Сыр натираем на терке и добавляем к остальным продуктам. Все хорошо перемешиваем.</p>
      <p class="recept__step animated bounce delay-5s">5) Рыбу порционно нарезаем и выкладываем на противень.</p>
      <p class="recept__step animated bounce delay-6s">6) Каждый кусочек солим, перчим и выкладываем сверху сырно-овощную смесь.</p>
      <p class="recept__step animated bounce delay-7s">7) Противень с рыбкой убираем в духовку, разогретую до 180-200 градусов, до полной готовности блюда. Рыбу с помидорами и сыром запекаем в духовке 30-40 минут.</p>
      <p class="recept__step animated bounce delay-8s">8) Приятного аппетита!</p>
</section>
<div class="order">
  <button class="order__button animated pulse infinite slow" ui-sref = 'pavilion'>Закажи игнридиенты у нас!</button>
</div>
<p class="make__order">Другие рецепты</p>
<section class="other__recepts">
  <div class="recepts__inner animated">
    <div class="recetps__inner-info">
      <p class="info__title">Салат крабовый</p>
      <div class="info__img">
        <img src="../images/medium/crabsalad.jpg" alt="">
      </div>
      <div class="info__text">
        <p class="info__text-title">Ингридиенты</p>
        <p class="info__text-p">Крабовые палочки - 240 г </p>
        <p class="info__text-p">Кукуруза консервированная - 340 г </p>
        <p class="info__text-p">Яйца - 4 шт. </p>
      </div>
      <button class="info__button" ui-sref = "crabsalad">Просмотреть полный рецепт</button>
    </div>
    <div class="recetps__inner-info">
      <p class="info__title">Салат цезарь</p>
      <div class="info__img">
        <img src="../images/medium/tcezari.jpg" alt="">
      </div>
      <div class="info__text">
        <p class="info__text-title">Ингридиенты</p>
        <p class="info__text-p">Куриная грудка отварная - 300 г</p>
        <p class="info__text-p">Яйа варенные - 4 шт</p>
        <p class="info__text-p">Сухарики - 1 пачка</p>
      </div>
      <button class="info__button" ui-sref = "tcezarisalad">Просмотреть полный рецепт</button>
    </div>
    <div class="recetps__inner-info">
      <p class="info__title">Салат минутка</p>
      <div class="info__img">
        <img src="../images/medium/minute.jpg" alt="">
      </div>
      <div class="info__text">
        <p class="info__text-title">Ингридиенты</p>
        <p class="info__text-p">Помидоры - 2-3 шт. </p>
        <p class="info__text-p">Сырок "Дружба" плавленый - 1 шт. </p>
        <p class="info__text-p">Чеснок - 1 зубок </p>
      </div>
      <button class="info__button" ui-sref = "minutesalad">Просмотреть полный рецепт</button>
    </div>
  </div>
</section>
