
<div class="wrapper__reg">
  <form class="form__reg" ng-submit = "vm.login()">
    <p class="form__title"><i class="fas fa-sign-in-alt"></i>Войти на базар</p>
    <input class="input__reg first" type="email" ng.model = "vm.name" ng-model = "vm.email" placeholder="Введите E-mail адрес">
    <input class="input__reg" type="password" ng-model = "vm.password" placeholder="Введите пароль">
    <div class="wrapper__button">
      <button type="submit" class="btn__log">Войти</button>
    </div>

    <div class="social">
      <li><a href="#"><div><i class="fab fa-facebook-f"></i></div></a></li>
      <li><a href="#"><div><i class="fab fa-twitter"></i></div></a></li>
      <li><a href="#"><div><i class="fab fa-instagram"></i></div></a></li>
      <li><a href="#"><div><i class="fab fa-vk"></i></div></a></li>
      <li><a href="#"><div><i class="fab fa-youtube"></i></div></a></li>
    </div>
    <div class="wrapper__text">
      <p><a href="/registration"  class="a__reg">Еще нет аккаунта?</a></p>
      <p><a href="#" class="a__reg">Забыли пароль?</a></p>
    </div>
  </form>
</div>
