<section class="recept">
  <div class="recept__img">
    <img src="../images/medium/minute.jpg" alt="" class="ragu__img">
  </div>
  <div class="recept__info">
    <p class="recept__name">Салат минутка</p>
    <p class="recept__title">Ингридиенты:</p>
    <p class="recept__ingridient animated jello">Помидоры - 2-3 шт. </p>
    <p class="recept__ingridient animated jello">Сырок "Дружба" плавленый - 1 шт. </p>
    <p class="recept__ingridient animated jello">Чеснок - 1 зубок </p>
    <p class="recept__ingridient animated jello">Майонез - 1,5 ст. ложки </p>
    <p class="recept__ingridient animated jello">Соль - 3 щепотки </p>
    <p class="recept__ingridient animated jello">Перец черный молотый - 2 щепотки </p>
    <p class="recept__ingridient animated jello">Сухарики - 50 г </p>
    <p class="recept__ingridient animated jello">Зелень - по вкусу </p>
    <p class="recept__ingridient animated jello">Листья салата - для подачи </p>
  </div>
</section>
<section class="cookingmethod">
      <p class="recept__subtitle">Способ приготовления</p>
      <p class="recept__step animated bounce delay-1s">1) Поместите плавленый сырок в морозильную камеру, чтобы он затвердел, иначе вы не сможете натереть его на терке - плавленная масса превратится в липкую кашицу.</p>
      <p class="recept__step animated bounce delay-2s">2) Помидоры помойте и нарежьте дольками или брусками любого размера по своему вкусу.</p>
      <p class="recept__step animated bounce delay-3s">3) Плавленый сырок натрите на мелкой терке в миску с помидорами.</p>
      <p class="recept__step animated bounce delay-4s">4) Чеснок почистите и пропустите через пресс в миску с салатом. Добавьте майонез, соль и молотый черный перец.</p>
      <p class="recept__step animated bounce delay-5s">5) Аккуратно перемешайте салат и в самом конце добавьте в него сухарики. Этот ингредиент добавляется последним сразу же перед подачей блюда к столу, чтобы сухарики не размокли.</p>
      <p class="recept__step animated bounce delay-6s">6) Добавляем лук и морковь к мясу на сковороду.</p>
      <p class="recept__step animated bounce delay-7s">7) Перемешиваем и обжариваем все вместе до мягкости овощей, около 2 минут.</p>
      <p class="recept__step animated bounce delay-8s">8) Выложите приготовленный салат из помидоров, сыра и сухариков на сочные и промытые листья зеленого салата. Украсьте или посыпьте измельченной зеленью.</p>
      <p class="recept__step animated bounce delay-9s">9) Приятного аппетита!</p>
</section>
<div class="order">
  <button class="order__button animated pulse infinite slow" ui-sref = 'pavilion'>Закажи игнридиенты у нас!</button>
</div>
<p class="make__order">Другие рецепты</p>
<section class="other__recepts">
  <div class="recepts__inner animated">
    <div class="recetps__inner-info">
      <p class="info__title">Рагу</p>
      <div class="info__img">
        <img src="../images/medium/ragu.jpg" alt="">
      </div>
      <div class="info__text">
        <p class="info__text-title">Ингридиенты</p>
        <p class="info__text-p">Свинина - 0,5 кг</p>
        <p class="info__text-p">Картофель - 1 кг</p>
        <p class="info__text-p">Кабачок - 1 шт</p>
      </div>
      <button class="info__button" ui-sref = "ragu">Просмотреть полный рецепт</button>
    </div>
    <div class="recetps__inner-info">
      <p class="info__title">Салат цезарь</p>
      <div class="info__img">
        <img src="../images/medium/tcezari.jpg" alt="">
      </div>
      <div class="info__text">
        <p class="info__text-title">Ингридиенты</p>
        <p class="info__text-p">Куриная грудка отварная - 300 г</p>
        <p class="info__text-p">Яйа варенные - 4 шт</p>
        <p class="info__text-p">Сухарики - 1 пачка</p>
      </div>
      <button class="info__button" ui-sref = "tcezarisalad">Просмотреть полный рецепт</button>
    </div>
    <div class="recetps__inner-info">
      <p class="info__title">Салат крабовый</p>
      <div class="info__img">
        <img src="../images/medium/crabsalad.jpg" alt="">
      </div>
      <div class="info__text">
        <p class="info__text-title">Ингридиенты</p>
        <p class="info__text-p">Крабовые палочки - 240 г </p>
        <p class="info__text-p">Кукуруза консервированная - 340 г </p>
        <p class="info__text-p">Яйца - 4 шт. </p>
      </div>
      <button class="info__button" ui-sref = "crabsalad">Просмотреть полный рецепт</button>
    </div>
  </div>
</section>
