<section class="pavilion-page">
		<div class="pavilion__inner-item">
			<div class="item__img">
			</div>
			<div class="item__info">
				<p><strong>Павильон :</strong> Мясной</p>
				<button class="item__info-btn" ui-sref = "meat">Перейти на павильон</button>
			</div>
		</div>
		<div class="pavilion__inner-item">
			<div class="item__img">

			</div>
			<div class="item__info">
				<p><strong>Тут могла быть ваша реклама</strong></p>
				<p>Вы давно мечтали обрадовать своих близких? Мы нашли для ВАС отличное решение, приобретите для них корзину с экзотическими фруктами. Ваши родные смогут испытать краску фантастическсих вкусов фруктов привезенных из дальных стран специально для вас! </p>
			</div>
		</div>
		<div class="pavilion__inner-item">
			<div class="item__img">

			</div>
			<div class="item__info">
				<p><strong>Павильон :</strong> Рыбный</p>
				<button class="item__info-btn" >Разрабатывается</button>
			</div>
		</div>
		<div class="pavilion__inner-item">
			<div class="item__img">

			</div>
			<div class="item__info">
				<p><strong>Павильон :</strong> Овощной</p>
				<button class="item__info-btn" ui-sref = "vegetable">Перейти на павильон</button>
			</div>
		</div>
		<div class="pavilion__inner-item">
			<div class="item__img">

			</div>
			<div class="item__info">
				<p><strong>Павильон :</strong> Фруктовый</p>
				<button class="item__info-btn" ui-sref = "fruit">Перейти на павильон</button>
			</div>
		</div>
		<div class="pavilion__inner-item">
			<div class="item__img">

			</div>
			<div class="item__info">
				<p><strong>Павильон :</strong> Молочный</p>
				<button class="item__info-btn" ui-sref = "milk">Перейти на павильон</button>
			</div>
		</div>
		<div class="pavilion__inner-item">
			<div class="item__img">

			</div>
			<div class="item__info">
				<p><strong>Павильон :</strong> Зеленый </p>
				<button class="item__info-btn" ui-sref = " green">Перейти на павильон</button>
			</div>
		</div>
		<div class="pavilion__inner-item">
			<div class="item__img">

			</div>
			<div class="item__info">
				<p><strong>Павильон :</strong> Ягодный </p>
				<button class="item__info-btn" ui-sref = " berry">Перейти на павильон</button>
			</div>
		</div>

		<div class="pavilion__inner-item">
			<div class="item__img">

			</div>
			<div class="item__info">
				<p><strong>Павильон :</strong> Сухофруктовый </p>
				<button class="item__info-btn" ui-sref = " dried">Перейти на павильон</button>
			</div>
		</div>

</section>
