<section class="recept">
  <div class="recept__img">
    <img src="../images/medium/ragu.jpg" alt="" class="ragu__img">
  </div>
  <div class="recept__info">
    <p class="recept__name">Рагу</p>
    <p class="recept__title">Ингридиенты:</p>
    <p class="recept__ingridient animated jello">Свинина - 0,5 кг , Картофель - 1 кг</p>
    <p class="recept__ingridient animated jello">Кабачок - 1 шт. , Перец болгарский - 3 шт.</p>
    <p class="recept__ingridient animated jello">Перец жгучий - 1 шт. , Томаты - 4 шт.</p>
    <p class="recept__ingridient animated jello">Морковь - 2 шт. , Лук репчатый - 3 шт.</p>
    <p class="recept__ingridient animated jello">Чеснок - 5 зубков , Укроп</p>
    <p class="recept__ingridient animated jello">Петрушка , Томатная паста - 5 ст. л.</p>
    <p class="recept__ingridient animated jello">Масло растительное , Кориандр молотый</p>
    <p class="recept__ingridient animated jello">Перец черный молотый , Соль</p>
    <p class="recept__ingridient animated jello">Лавровый лист</p>
  </div>
</section>
<section class="cookingmethod">
      <p class="recept__subtitle">Способ приготовления</p>
      <p class="recept__step animated bounce delay-1s">1) Свинину нарезаем небольшими кусочками.</p>
      <p class="recept__step animated bounce delay-1s">2) Отправляем в разогретую с растительным маслом сковороду.</p>
      <p class="recept__step animated bounce delay-2s">3) Обжариваем на сильном огне до появления красивой румяной корочки.</p>
      <p class="recept__step animated bounce delay-2s">4) Очищенный лук режем мелкими кубиками.</p>
      <p class="recept__step animated bounce delay-3s">5) Морковь нарезаем пластинками.</p>
      <p class="recept__step animated bounce delay-3s">6) Добавляем лук и морковь к мясу на сковороду.</p>
      <p class="recept__step animated bounce delay-4s">7) Перемешиваем и обжариваем все вместе до мягкости овощей, около 2 минут.</p>
      <p class="recept__step animated bounce delay-4s">8) Тем временем займемся кабачком, картофелем и томатами. Нарезаем кабачок на кусочки 1,5-2 см. Если кабачок не молодой, то его нужно очистить от кожуры и семян.</p>
      <p class="recept__step animated bounce delay-5s">9) Перекладываем нарезанный кабачок в казан или другую подходящую посуду, в которой будем тушить рагу.</p>
      <p class="recept__step animated bounce delay-5s">10) Картофель нарезаем так же как кабачок.</p>
      <p class="recept__step animated bounce delay-6s">11) Перекладываем к кабачку.</p>
      <p class="recept__step animated bounce delay-6s">12) Томаты ошпариваем кипятком и снимаем с них кожицу.</p>
      <p class="recept__step">13) Нарезаем их как предыдущие овощи и отправляем к ним же.</p>
      <p class="recept__step">14) Перемешиваем кабачки, картофель и помидоры.</p>
      <p class="recept__step">15) Очищенные от семян и плодоножки перцы нарезаем не крупными квадратами.</p>
      <p class="recept__step">16) Чеснок режем пластинками.</p>
      <p class="recept__step">17) Любители острого могут добавить в рагу жгучий перец, но не увлекайтесь, достаточно будет половины стручка.</p>
      <p class="recept__step">18) Добавляем перец и чеснок в сковороду и постоянно помешивая обжариваем пол минуты.</p>
      <p class="recept__step">19) Затем добавляем томатную пасту, перемешиваем, накрываем крышкой и тушим еще пол минуты на среднем огне.</p>
      <p class="recept__step">20) Перекладываем содержимое сковороды в казан, к остальным овощам.</p>
      <p class="recept__step">21) Перемешиваем, добавляем соль, черный перец, лавровый лист и 2 стакана воды.</p>
      <p class="recept__step">22) Ставим казан на сильный огонь и накрываем крышкой до закипания.</p>
      <p class="recept__step">23) Затем уменьшаем огонь до среднего и тушим мясное рагу с овощами до загустения соуса (30-40 минут)..</p>
      <p class="recept__step">24) К этом времени рагу будет почти готовым.</p>
      <p class="recept__step">25) Мелко нарезаем укроп и петрушку.</p>
      <p class="recept__step">26) Добавляем зелень в рагу, хорошенько все перемешиваем и тушим мясное рагу еще около минуты, после чего выключаем огонь.</p>
      <p class="recept__step">27) Рагу готово! Повсюду разносится приятный сладковатый аромат свинины с овощами.</p>
      <p class="recept__step">28) Приятного аппетита!</p>
</section>
<div class="order">
  <button class="order__button animated pulse infinite slow" ui-sref = 'pavilion'>Закажи игнридиенты у нас!</button>
</div>
<p class="make__order">Другие рецепты</p>
<section class="other__recepts">
  <div class="recepts__inner animated">
    <div class="recetps__inner-info">
      <p class="info__title">Салат минутка</p>
      <div class="info__img">
        <img src="../images/medium/minute.jpg" alt="">
      </div>
      <div class="info__text">
        <p class="info__text-title">Ингридиенты</p>
        <p class="info__text-p">Помидоры - 2-3 шт. </p>
        <p class="info__text-p">Сырок "Дружба" плавленый - 1 шт. </p>
        <p class="info__text-p">Чеснок - 1 зубок </p>
      </div>
      <button class="info__button" ui-sref = "minutesalad">Просмотреть полный рецепт</button>
    </div>
    <div class="recetps__inner-info">
      <p class="info__title">Салат цезарь</p>
      <div class="info__img">
        <img src="../images/medium/tcezari.jpg" alt="">
      </div>
      <div class="info__text">
        <p class="info__text-title">Ингридиенты</p>
        <p class="info__text-p">Куриная грудка отварная - 300 г</p>
        <p class="info__text-p">Яйца варенные - 4 шт</p>
        <p class="info__text-p">Сухарики - 1 пачка</p>
      </div>
      <button class="info__button" ui-sref = "tcezarisalad">Просмотреть полный рецепт</button>
    </div>
    <div class="recetps__inner-info">
      <p class="info__title">Гречечская рыба в духовке</p>
      <div class="info__img">
        <img src="../images/medium/fish.jpg" alt="">
      </div>
      <div class="info__text">
        <p class="info__text-title">Ингридиенты</p>
        <p class="info__text-p">Филе любой белой рыбы - 700 г </p>
        <p class="info__text-p">Помидоры - 2 шт. </p>
        <p class="info__text-p">Сыр твердый - 150 г </p>
      </div>
      <button class="info__button" ui-sref = "fish">Просмотреть полный рецепт</button>
    </div>
  </div>
</section>
