
<section class="bid">
  <form class="bid__inner" action="../telegram.php" method="POST">
    
    <div class="bid__inner-window">
      <div class="bid__window-block">
        <span class="bid__block-name">Имя</span>
        <input type="text" class="bid__block-input" name="user_name" required>
      </div>
      <div class="bid__window-block">
        <span class="bid__block-name">Номер</span>
        <input type="text" class="bid__block-input" name="phone" required>
      </div>
      <div class="bid__window-block">
        <span class="bid__block-name">Адрес</span>
        <input type="text" class="bid__block-input" name="company" required>
      </div>
      <div class="bid__window-block">
        <span class="bid__block-name">Продукты</span>
        <textarea class="bid__block-textarea" rows="5" name="products" required></textarea>
      </div>
      <div class="bid__window-block">
        <span class="bid__block-name">Комментарий</span>
        <textarea class="bid__block-textarea" rows="5" name="comment"></textarea>
      </div>
      <button class="bid__window-btn" type="submit">Отправить</button>
    </div>
  </form`>
</section>