<section class="recept">
  <div class="recept__img">
    <img src="../images/medium/tcezari.jpg" alt="" class="ragu__img">
  </div>
  <div class="recept__info">
    <p class="recept__name">Салат цезарь</p>
    <p class="recept__title">Ингридиенты:</p>
    <p class="recept__ingridient animated jello">Куриная грудка отварная - 300 г</p>
    <p class="recept__ingridient animated jello">Яйца вареные - 4 шт.</p>
    <p class="recept__ingridient animated jello">Сухарики - 1 пачка</p>
    <p class="recept__ingridient animated jello">Сыр твердый - 200 г</p>
    <p class="recept__ingridient animated jello">Помидоры Черри - 200 г</p>
    <p class="recept__ingridient animated jello">Листья салата - 200 г</p>
    <p class="recept__ingridient animated jello" style = "font-size: 28px; font-weight: 600;">Заправка: </p>
    <p class="recept__ingridient animated jello">Соль - 10 г</p>
    <p class="recept__ingridient animated jello">Горчица - 2 ст. л.</p>
    <p class="recept__ingridient animated jello">Чеснок - 2 зубчика</p>
    <p class="recept__ingridient animated jello">Сок 1/2 лимона</p>
    <p class="recept__ingridient animated jello">Масло оливковое - 100 мл</p>
  </div>
</section>
<section class="cookingmethod">
      <p class="recept__subtitle">Способ приготовления</p>
      <p class="recept__step animated bounce delay-1s">1) Отварить куриную грудку с добавлением соли.</p>
      <p class="recept__step animated bounce delay-2s">2) Яйца порезать полукольцами, листья салата помыть и просушить.</p>
      <p class="recept__step animated bounce delay-3s">3) Натереть сыр на терке.</p>
      <p class="recept__step animated bounce delay-4s">4) Сухарики взять кубиками со вкусом сыра.</p>
      <p class="recept__step animated bounce delay-5s">5) Все ингредиенты для заправки взбить блендером.</p>
      <p class="recept__step animated bounce delay-6s">6) Салат выложить слоями:</p>
      <p class="recept__step animated bounce delay-7s"> - Мясо куриное,</p>
      <p class="recept__step animated bounce delay-7s"> - Сухарики,</p>
      <p class="recept__step animated bounce delay-7s"> - Яйца,</p>
      <p class="recept__step animated bounce delay-7s"> - Сыр,</p>
      <p class="recept__step animated bounce delay-7s"> - Помидоры черри</p>
      <p class="recept__step animated bounce delay-8s">7) Все залить соусом.</p>
      <p class="recept__step animated bounce delay-9s">8) Приятного аппетита!</p>
</section>
<div class="order">
  <button class="order__button animated pulse infinite slow" ui-sref = 'pavilion'>Закажи игнридиенты у нас!</button>
</div>
<p class="make__order">Другие рецепты</p>
<section class="other__recepts">
  <div class="recepts__inner animated">
    <div class="recetps__inner-info">
      <p class="info__title">Салат минутка</p>
      <div class="info__img">
        <img src="../images/medium/minute.jpg" alt="">
      </div>
      <div class="info__text">
        <p class="info__text-title">Ингридиенты</p>
        <p class="info__text-p">Помидоры - 2-3 шт. </p>
        <p class="info__text-p">Сырок "Дружба" плавленый - 1 шт. </p>
        <p class="info__text-p">Чеснок - 1 зубок </p>
      </div>
      <button class="info__button" ui-sref = "minutesalad">Просмотреть полный рецепт</button>
    </div>
    <div class="recetps__inner-info">
      <p class="info__title">Салат крабовый</p>
      <div class="info__img">
        <img src="../images/medium/crabsalad.jpg" alt="">
      </div>
      <div class="info__text">
        <p class="info__text-title">Ингридиенты</p>
        <p class="info__text-p">Крабовые палочки - 240 г </p>
        <p class="info__text-p">Кукуруза консервированная - 340 г </p>
        <p class="info__text-p">Яйца - 4 шт. </p>
      </div>
      <button class="info__button" ui-sref = "crabsalad">Просмотреть полный рецепт</button>
    </div>
    <div class="recetps__inner-info">
      <p class="info__title">Рагу</p>
      <div class="info__img">
        <img src="../images/medium/ragu.jpg" alt="">
      </div>
      <div class="info__text">
        <p class="info__text-title">Ингридиенты</p>
        <p class="info__text-p">Свинина - 0,5 кг</p>
        <p class="info__text-p">Картофель - 1 кг</p>
        <p class="info__text-p">Кабачок - 1 шт</p>
      </div>
      <button class="info__button" ui-sref = "ragu">Просмотреть полный рецепт</button>
    </div>
  </div>
</section>
