button {
	outline: 0;
	border-radius: 7px;
	font-size: 16px;
	cursor: pointer;
	border: none;
	background-color: #24242c;
	color: #fff;
	padding: 10px 20px;
	margin-right: 10px;
}

button:hover {
	transform: scale(1.1);
	opacity: .9;
}

.btn__save {
	margin-left: 10px;
}
